.body {
  background: rgb(9, 9, 9);
 
}

*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.a {
  text-decoration: none;
}
.ul,
.ol,
.li {
  list-style: none;
  
  
}
.img {
  vertical-align: top;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: inherit;
  font-size: inherit;
}

.html,
.body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
  color: #252b42;
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*-------------------------Контейнер-------------------------*/
._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;

} 
/*-------------------------Шапка-------------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
 
}
.navbar-brand {
  margin: 0% 0% 0% -10%;

}
.header__logo {
  font-size: 24px;
  color: inherit;
  font-weight: 700;
  font-family: Montserrat;
  text-decoration: none;
}

.header__menu {
  margin: 0 0 0 132px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
/*----------------------MENU---------------------------*/
.menu {
  padding: 5 px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;

  
}
.menu__item {
  margin: 0 0 0 24px;
  list-style: none;
  
}
.menu__link {
  color: #67d6b5;
  font-weight: 450;
  line-height: 24px;
  text-decoration: none;
  font-family: Montserrat;
  list-style-type: none;
}
/*----------------------PAGE---------------------------*/
.page {
  flex: 1 1 auto;
}
.page_main-blok {

}




/*-------------------------MAIN BLOK-------------------------*/
.page_main-blok {
  position: relative;

}
.main-blok {}
._container {}
.main-blok_body {
  padding: 184px 0 191px 0 ;
  position: relative;
  z-index: 2;
  max-width: 600px;
}
.main-blok_body > *:not(:last-child){
margin: 0 0 35px 0;
}

.main-blok_title {
  font-size: 48px;
  line-height: 138%;
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: 0.2px;
}
.main-blok_text {
  font-family: Montserrat;
  color: #67d6b5;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
}
.main-blok_buttons {
  display:inline-flex;
  
}
.main-blok_button {
  font-family: Montserrat;
  text-decoration: none;
  color: #FFFFFF;
  background: #FF7B47;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  
}
.main-blok_button_border {
  font-family: Montserrat;
  text-decoration: none;
  color: #FFFFFF;
  background: none;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  border: 3px solid #FF7B47;
}
.main-blok_button:not(:last-child){
  margin: 0px 10px 0px 0px;
}
.main-blok_imge {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.main-blok_imge img {
  object-position:top;
}
@media (max-width: 1300px) {
  .main-blok_imge img {
    object-position:right;
  } 
}
@media (max-width: 700px) {
  .main-blok_imge img {
    opacity: 0.8;
  } 
}
.services__body {
 display: flex; 
 margin: 0 -15px;
}
/*-------------------------page__services services-------------------------*/
.page__servic {
position: relative;
z-index: 2;
margin: -60px 0 0 0;
opacity: 10;
height: 200%;
}
/*-------------------------page__-------------------------*/

.item-services__icon {
  display: flex; 
  margin: 0px -45px -50px -130px;
  object-position:left;
}
.item-services__titel {
  font-family: Montserrat
  
  font-size: 200px;
  
  font-weight: 100;
}
.page__servic {

}
/*-------------------------STATISTIC-------------------------*/

.statistic__container {
  text-align: center;

}
.statistic__header {
margin: 50px 0 50px 0;
}
.header-bloc {


letter-spacing: 0.2px;

}
.header-block__titel {
font-size: 40px;
line-height: 140%;
font-weight: 700;

}
.header-block__sub-title {
color: #737373;
line-height: 140%;
margin: 0 0 10px 0;

}
.statistic__body {
display: flex;
margin: 0 -15px -30px;
flex-wrap: wrap;
}
.statistic__colum {
padding: 0 15px;
margin: 0 0 30px 0;
flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .statistic__colum {
    flex: 0 1 50%;
  }
}
@media (max-width: 433px) {
  .statistic__colum {
    flex: 0 1 100%;
}
}

.statistic__item {
  background-color: #FFFFFF;
  padding: 35px;
  text-align: center;
  font-weight: 700;
} 
.statistic__icon {
height: 48px;
display: flex;
align-items: flex-end;
justify-content: center;
}
.statistic__value {
font-size: 40px;
line-height: 140%;
font-weight: 700;
margin: 0 0 10px 0;

}
.statistic__text {
color: #737373;
font-size: 16px;
line-height: 150%;
}
/*-------------------------VIDEO_BLOK-------------------------*/
.statistic__header {
margin: 100px 0 100px 0;
}

.header-block__titel {

}
.header-block__sub-title {
text-indent: ;
text-align: center;
 
  

}
.video_body {
display: flex;
flex: 1 1 auto;
padding: 0 0 0 20px;
}
@media (max-width: 950px) {
  .video_body {
    flex-direction: column-reverse;
    align-items: stretch;
    
  }


}
@media (max-width: 950px) {
  .video_video {
    margin: 50px 0 0 0;
    padding: 0 0 55% 0;
    width: 100%;
    height: 100%;

  }
} 

.video_video {
flex: 0 0 57%;
position: relative;

}

.video_video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.video_content {
flex: 1 1 auto;
padding: 20px 0 0 121px;
}
@media (max-width: 1080px) {
  .video_content {
    padding: 0 0 0 10px;
  }
  
}
.video_titel {
  font-weight: 500;
  font-size: 25px;
  line-height: 142%;
}
@media (max-width: 950px) {
  .video_titel {
    font-size: 20px;
  }
}
.video_titel:not(:last-child) {
  margin: 0 0 10px 0;
}
.video_text {
  color: #737373;
  line-height: 142%;
}
.video_text:not(:last-child) {
  margin: 0 0 50px 0;
}
.item-video {
  display: flex;
}
.video_item {
  
}
.item-video__icon {
  flex: 0 0 32px;
}
.item-video_titel {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.video_titel:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-video_text {
  color: #737373;
  
  line-height: 142%;
width: 225px;
text-overflow: ellipsis;
margin: 10px 0 0 47px;


}

/*-------------------------Get In Touch-------------------------*/
.getintouch {
  padding: 120px 0 135px 0;
 
}
.getintouch__coantiner {

}
.getintouch__items {
  margin: 0 -15px;
}
@media (min-width: 992px){
  .getintouch__items {
    display: flex;
    align-items: center;
    margin: 0;
  }
}


.getintouch__item {
flex: 0 1 33.33%;

}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding: 50px 15px;
}
.item-getintouch:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-getintouch__icon {}
.item-getintouch__icon:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.item-getintouch__email: hover {
  text-decoration: underline;
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  padding: 10px;
}
.item-getintouch__button {
  border: 1px solid #FF7B47;
  border-radius: 5px;
  min-height: 44px;
  display: flex;
  font-weight: 600;
  align-items: center;
  color: #FF7B47;
  line-height: 142%;
  padding: 5px 20px;
  text-align: center;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}
.item-getintouch_active .item-getintouch__button {
border: 1px solid #FFFFFF;
color: #FFFFFF;
}

.item-getintouch__button:hover {
  background-color: #FF7B47;
}
.item-getintouch_active {
  background-color: #252b42;
  color: #FFFFFF;
}
.getintouch {

}
.section__getintouch {


}
.getintouch__coantiner,  {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
 z-index: 1;
 margin:auto;
 display: flex;
}
 /*-------------------------Footer-------------------------*/
.footer {
background-image: url(../img/blokmenu/footer1.jpg);
background-size: cover;  
background-repeat: no-repeat;
justify-content: center;
width: 100%;

object-position:top;
background: opacity: 0.2;
} 



.footer-link {
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  color: #ffff;
}

.phone {
  text-align: right; 
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  padding: 0 10px 0px 10px;
  margin: 0 10px 0 0;
}

@media (max-width: 595px) {
  .phone {
    color: #90eb10;
    font-weight: 500;
  }
}

 .footer-inner {
  display: flex;
  color: #ffff;

  align-items: center;
  justify-content: space-between;
  padding: 50px 0 0 0;
}



@media (max-width: 595px) {
  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
    flex-direction: column;

  }
}


.logo-img {
  height: 80px;
  color: antiquewhite;
}
 /*-------------------------PROD-------------------------*/
.body_prod {

  background-image: url(../img/blokmenu/footer1.jpg);
  background-size: cover;  
  background-repeat: no-repeat;
  justify-content: center;
  width: 100%;
  padding-bottom: 100%;
  
}
.production_text {
  color: #ffff;
  padding: 100px 0 0 0;
  font-size: 20px;
  font-weight: ;
  text-align: center;
}

